{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apna College</title>
    <link rel="stylesheet" href="{% static 'food/style.css' %}">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Food App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'food:create_item' %}">Add Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Delete Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">View Item</a>
                    </li>
                    
                    
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                        <a href="{% url 'profile' %}">Profile</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                

                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}

    </div>
    
    {% endfor %}
    {% endif %}


    <!-- Main Content -->
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HoAhiBb72CzEIDvb6b4PFWE6jFtNnvFTxhTq5LVbb9Z6NI2WgfzZK8Y4RM9xMKk0" crossorigin="anonymous"></script>
</body>
</html>
